{% extends "base.html" %}
{% block title %}Code Time{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block app_content %}
<h1>Code Time</h1>
<img src="https://raw.githubusercontent.com/Shahil98/SE_Fall20_Project-1/master/docs/youtube.png" alt="Codetime cover">
</br>
</br>
<h2>About CodeTime </h2>
<p>
    CodeTime is a plugin for Sublime Text editor which will help developers to track
    the amount of time spent on multiple files, programming languages and projects.
    The user will be able to perform the analysis of the time spent to improve the
    productivity by analysing the most frequently used programming language, most
    productive time of the day, files in project which took maximum time for
    development and projects which took maximum time for completion.
</p>
<p>
    The developer can add the project deadlines to the plugin and the plugin can help
    developers stick to their goal by predicting the finish time of the project based
    on the data gathered from the user. Multiple developers can compete with each other
    through a leaderboard where a leaderboard will display the ranking of most productive
    developer and admin/manager can easily monitor the productivity of each and every
    developer with the help of a common interface.
</p>

{% endblock %}