{% extends "layout.html" %}
{% block css %}
<!--Linking various required CSS files and JS scripts-->
<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='bootstrap.css') }}">
</link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock css %}
{% block content %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
</nav>
{% endblock content %}